#header-logo {
   background-image: url("https://www.example.com/images/logo.png");
   width: 193px;
   height: 41px;
   margin-top: -3px;
   background-repeat: no-repeat
}

#openshift-logo.navbar-brand{
   background-image: url("https://www.example.com/images/logo.png");
   width: 193px;
   height: 42px;
   padding-left: 20px;
   padding-top: 10px;
}
