#header-logo {
   background-image: url("https://i.ytimg.com/vi/iai4v0ocX3w/maxresdefault.jpg");
   width: 193px;
   height: 41px;
   margin-top: -3px;
   background-repeat: no-repeat
}

#openshift-logo.navbar-brand{
   background-image: url("https://i.ytimg.com/vi/iai4v0ocX3w/maxresdefault.jpg");
   width: 193px;
   height: 42px;
   padding-left: 20px;
   padding-top: 10px;
}
